:root {
  --bg: #131316;
  --txt: #EFEFFE;
  --txt2: #bbbbbb;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Rubik', sans-serif;
  color: var(--txt);
  
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: var(--bg);
}

.noMP {
  margin: 0;
  padding: 0;
}

a.noStyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.noStyle:visited {
  text-decoration: inherit;
  color: inherit;
}